Repository coditory/gradle-integration-test-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: code, build, ci, documentation, license, gradle, gitignore, codestyle

Add codecov.yml
  .github/codecov.yml
Labels: ci

Fix github release action
  .github/workflows/release.yml
Labels: ci

Switch to test suites
  DEVELOPMENT.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/SourceSetExtractor.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/shared/ClassChecker.kt
  src/main/kotlin/com/coditory/gradle/integration/shared/SemVersion.kt
  src/test/kotlin/com/coditory/gradle/integration/IntegrationTestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/GradleTestVersions.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
  src/test/kotlin/com/coditory/gradle/integration/shared/SemVersionTest.kt
Labels: code, documentation

Update readme
  README.md
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
Labels: code, documentation

Fix tests
  .editorconfig
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
Labels: code, codestyle

Migrate to JVM Test Suites (#139)
  .editorconfig
  DEVELOPMENT.md
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/SourceSetExtractor.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/shared/ClassChecker.kt
  src/main/kotlin/com/coditory/gradle/integration/shared/SemVersion.kt
  src/test/kotlin/com/coditory/gradle/integration/IntegrationTestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/GradleTestVersions.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
  src/test/kotlin/com/coditory/gradle/integration/shared/SemVersionTest.kt
Labels: code, documentation, codestyle

Integrate with Jacoco
  .github/CODEOWNERS
  .github/workflows/build.yml
  DEVELOPMENT.md
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
Labels: code, ci, documentation

Integrate with Jacoco
  .github/CODEOWNERS
  .github/workflows/build.yml
  DEVELOPMENT.md
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
Labels: code, ci, documentation

Remove integration with JUnit4
  README.md
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
Labels: code, documentation

Revert integration source name
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
Labels: code, documentation

Revert integration source name
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
Labels: code, documentation

Update readme for 2.0.1 version
  README.md
Labels: documentation

Optimize gh build action
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: ci

Fix source set inheritance
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
Labels: code

Fix source set inheritance
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
Labels: code

Update Build action
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: ci

Test failing scenarios
  build.gradle.kts
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/Versions.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/GradleTestVersions.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectRunner.kt
Labels: code, build

Update README
  README.md
Labels: documentation

Update README
  README.md
Labels: documentation

Test failing scenarios
  build.gradle.kts
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/Versions.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/GradleTestVersions.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectRunner.kt
Labels: code, build

Migrate test to use build.gradle.kts
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
Labels: code

Update github action scripts
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: ci

Update examples in README
  README.md
Labels: documentation

Migrate to shared workflows
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/release-auto.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-gradle-wrapper.yml
Labels: ci

Use proper java version in build scripts
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  build.gradle.kts
Labels: build, ci

Update dependabot groups
  .github/dependabot.yml
Labels: ci

Update README
  README.md
Labels: documentation

Inherit secrets in build action
  .github/workflows/build.yml
Labels: ci

Enable version check on release
  .github/workflows/release-auto.yml
  .github/workflows/release.yml
Labels: ci

Update dependabot groups
  .github/dependabot.yml
Labels: ci

Update badges in README.md #152
  README.md
Labels: documentation

Enable gradle configuration cache #151
  .gitignore
  DEVELOPMENT.md
  README.md
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPluginConfig.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code, documentation, gitignore

Enable gradle configuration cache #151
  .gitignore
  DEVELOPMENT.md
  README.md
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPluginConfig.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code, documentation, gitignore

added lazy configuration of test tasks
  build.gradle.kts
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code, build

Lazy configuration
  README.md
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LazyTaskRegisteringTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
Labels: code, documentation

Lazy configuration
  README.md
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LazyTaskRegisteringTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
Labels: code, documentation

Support jacoco report task run separately
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LazyTaskRegisteringTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockClasspathTest.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
Labels: code

Support jacoco report task run separately
  src/integration/kotlin/com/coditory/gradle/integration/CommandLineTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JUnitClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/JacocoBasedTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotestClasspathTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/KotlinInternalScopeTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LazyTaskRegisteringTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/LombokTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/PlatformDependencyTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockBasicTest.kt
  src/integration/kotlin/com/coditory/gradle/integration/SpockClasspathTest.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProject.kt
Labels: code

Update gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: gradle

Update gradle config
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: build

.github/labeler.yml:

backport:
  - head-branch: ['^v[0-9]+\.x\.x']

code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/**"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.gradle*"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "LICENSE"

gradle:
  - changed-files:
      - any-glob-to-any-file:
          - "gradlew*"
          - ".gradle/**"
          - "gradle/**"
          - "setting.gradle*"

gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"

codestyle:
  - changed-files:
      - any-glob-to-any-file:
          - ".editorconfig"
          - ".idea/codeStyles/**"
