Repository coditory/gradle-integration-test-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: code, build, ci, documentation, license, gradle, gitignore, codestyle

.github/labeler.yml:

backport:
  - head-branch: ['^v[0-9]+\.x\.x']

code:
  - changed-files:
      - any-glob-to-any-file:
          - "src/**"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.gradle*"

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "LICENSE"

gradle:
  - changed-files:
      - any-glob-to-any-file:
          - "gradlew*"
          - ".gradle/**"
          - "gradle/**"
          - "setting.gradle*"

gitignore:
  - changed-files:
      - any-glob-to-any-file:
          - ".gitignore"

codestyle:
  - changed-files:
      - any-glob-to-any-file:
          - ".editorconfig"
          - ".idea/codeStyles/**"

Add test for compile dependencies in extended configuration
  src/integration/kotlin/com/coditory/gradle/integration/ConfigurationInheritanceTest.kt
Labels: code

Make configuration inheritance consistent with Gradle
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code

Cleanup ConfigurationInheritanceTest
  src/integration/kotlin/com/coditory/gradle/integration/ConfigurationInheritanceTest.kt
Labels: code

Make configuration inheritance consistent with Gradle (#165)
  src/integration/kotlin/com/coditory/gradle/integration/ConfigurationInheritanceTest.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code

Update dependencies and unblock dependabot
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/test/kotlin/com/coditory/gradle/integration/base/GradleTestVersions.kt
Labels: code, build, gradle

Update precommit hook
  DEVELOPMENT.md
  scripts/git/pre-commit
Labels: documentation

Set task type
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
Labels: code

Set task type
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
Labels: code

Fix test duplication
  src/integration/kotlin/com/coditory/gradle/integration/DeduplicationTest.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code

Fix test duplication
  src/integration/kotlin/com/coditory/gradle/integration/DeduplicationTest.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code

Update gradle to 8.13
  .gitignore
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
Labels: code, build, gradle, gitignore

Merge intg and unit tests. Upgrade gradle and fix testSuite change.
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/CommandLineTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/ConfigurationInheritanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/DeduplicationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JUnitBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JUnitClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JacocoBasedTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotestBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotestClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotlinInternalScopeTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/LazyTaskRegisteringTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/LombokTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/PlatformDependencyTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/SpockBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/SpockClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/Versions.kt
Labels: code, build, gradle

Merge intg and unit tests. Upgrade gradle and fix testSuite change.
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/CommandLineTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/ConfigurationInheritanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/DeduplicationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JUnitBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JUnitClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/JacocoBasedTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotestBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotestClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/KotlinInternalScopeTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/LazyTaskRegisteringTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/LombokTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/PlatformDependencyTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/SpockBasicTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/SpockClasspathTest.kt
  src/test/kotlin/com/coditory/gradle/integration/cli/Versions.kt
Labels: code, build, gradle
