Repository coditory/gradle-integration-test-plugin, pull requests merged in 2024-10, with the labels that each got.

#140 Integrate with Jacoco
  .github/CODEOWNERS
  .github/workflows/build.yml
  DEVELOPMENT.md
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit4BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/base/TestProjectBuilder.kt
Labels: ci, code, documentation

#141 Revert integration source name
  README.md
  src/main/kotlin/com/coditory/gradle/integration/IntegrationTestPlugin.kt
  src/main/kotlin/com/coditory/gradle/integration/JacocoTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestAllTaskConfiguration.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSkippingConditions.kt
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/JacocoConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestAllTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/TestTaskConfigurationTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/CommandLineAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/JacocoBasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/KotlinInternalScopeAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/LombokAcceptanceTest.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/SpockBasedAcceptanceTest.kt
Labels: code, documentation

#144 Fix source set inheritance
  src/main/kotlin/com/coditory/gradle/integration/TestSuitesConfiguration.kt
  src/test/kotlin/com/coditory/gradle/integration/acceptance/Junit5BasedAcceptanceTest.kt
Labels: code
